<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button type="button" name="button" onclick="goToIndex(event)">Index</button>
  </body>
  <script type="text/javascript" src="/javascripts/client.js"></script>
</html>
